@value headerPadding from '../../common/size.css';

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: headerPadding;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	user-select: none;
}

.logo {
	font-weight: bold;
}

.btn {
	cursor: pointer;
	outline: 0;
	background-color: #00000022;
	border: 1px solid #00000055;
	border-radius: .5rem;
	padding: .5rem;
	margin-left: .5rem;
	transition-duration: .25s;
}

.btn:hover {
	background-color: #00000055;
}

.header input[type="text"] {
	outline: 0;
	border: 2px dashed #00000022;
	padding: .5rem;
	border-radius: .5rem;
	transition-duration: .25s;
}

.header input[type="text"]:focus {
	border-color: #00000055;
}